html {
  scroll-behavior: smooth; }

body {
  background-color: #151515;
  font-family: Gothic A1,-apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,sans-serif;
  line-height: 1.5;
  color: #8F8F90;
  display: flex;
  justify-content: center; }

.main_container {
  border: 1px solid green;
  width: 1440px;
  height: 100vh;
  font-size: 14px;
  position: relative;
  display: flex; }

.main_container--left {
  padding: 88px 0 88px 88px;
  max-width: 496px;
  border: 1px solid purple;
  position: fixed;
  height: 100vh;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.left_container_top {
  height: 490px; }
  .left_container_top__topIn {
    height: 400px; }
    .left_container_top__topIn h1 {
      font-size: 64px;
      color: #ffffff;
      font-weight: 700;
      line-height: 1; }
    .left_container_top__topIn .infoAbout {
      line-height: 2;
      margin-top: 32px; }
      .left_container_top__topIn .infoAbout .white_text {
        color: #fff; }
      .left_container_top__topIn .infoAbout a,
      .left_container_top__topIn .infoAbout a:active,
      .left_container_top__topIn .infoAbout a:link {
        text-decoration: none;
        color: #fff; }
        .left_container_top__topIn .infoAbout a:hover,
        .left_container_top__topIn .infoAbout a:active:hover,
        .left_container_top__topIn .infoAbout a:link:hover {
          text-decoration: underline; }
      .left_container_top__topIn .infoAbout .pt {
        margin-top: 10px; }
  .left_container_top__bottomIn {
    height: 110px;
    margin-top: 40px; }

.left_container_bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin-top: 72px; }
  .left_container_bottom--social {
    display: flex;
    height: 100%;
    width: 264px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 40px; }
  .left_container_bottom .social__Ico {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    color: #fff;
    text-decoration: none; }
    .left_container_bottom .social__Ico a:link,
    .left_container_bottom .social__Ico a:active {
      text-decoration: none;
      color: #fff; }

.main_container--right {
  border: 1px solid yellow;
  position: absolute;
  right: 0;
  padding: 88px 88px 88px 0;
  max-width: 736px; }
  .main_container--right .about {
    width: 200px;
    height: 1000px;
    background-color: blue; }
  .main_container--right .projects {
    width: 200px;
    height: 1000px;
    background-color: green; }
  .main_container--right .contact {
    width: 200px;
    height: 1000px;
    background-color: red; }

.nav {
  color: #8F8F90;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  .nav__text--link, .nav__text--link:link, .nav__text--link:active {
    text-decoration: none;
    color: #8F8F90;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 700;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center; }
    .nav__text--link:hover, .nav__text--link:link:hover, .nav__text--link:active:hover {
      color: #fff; }
    .nav__text--link:hover .line, .nav__text--link:link:hover .line, .nav__text--link:active:hover .line {
      background-color: #fff;
      width: 48px; }
    .nav__text--link .line, .nav__text--link:link .line, .nav__text--link:active .line {
      margin: 0 16px;
      margin-top: -2px;
      height: 1px;
      width: 24px;
      background-color: #8F8F90;
      transition: .3s ease-in-out; }
    .nav__text--link .active__line, .nav__text--link:link .active__line, .nav__text--link:active .active__line {
      width: 48px;
      background-color: #fff; }
  .nav .active__color {
    color: #fff; }
