/*
600px - 900px Tablet Portrait
1000px - 1280px Tablet Landscape

1200px - 1800px  normal styles apply

  

$breakpoint argument choices:
- tab-port
- tab-land


*/
html {
  scroll-behavior: smooth; }

body {
  background-color: #151515;
  font-family: Gothic A1,-apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,sans-serif;
  line-height: 1.5;
  color: #8F8F90;
  display: flex;
  justify-content: center; }

.main_container {
  width: 1440px;
  height: 100vh;
  font-size: 14px;
  position: relative;
  display: flex; }
  @media only screen and (max-width: 1000px) {
    .main_container {
      flex-direction: column; } }

.main_container--left {
  padding: 88px 0 88px 88px;
  max-width: 496px;
  position: fixed;
  height: 100vh;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 1350px) {
    .main_container--left {
      padding: 10px 0 5px 10px;
      width: 100%; } }
  @media only screen and (max-width: 1000px) {
    .main_container--left {
      position: static;
      padding: 20px;
      width: 100%;
      height: 100%; } }

.left_container_top {
  height: 490px; }
  @media only screen and (max-width: 1000px) {
    .left_container_top {
      height: 100%; } }
  .left_container_top__topIn {
    height: 400px; }
    @media only screen and (max-width: 1000px) {
      .left_container_top__topIn {
        height: 100%; } }
    .left_container_top__topIn h1 {
      font-size: 64px;
      color: #ffffff;
      font-weight: 700;
      line-height: 1; }
      @media only screen and (max-width: 1350px) {
        .left_container_top__topIn h1 {
          font-size: 48px; } }
    .left_container_top__topIn .infoAbout {
      line-height: 2;
      margin-top: 32px; }
      @media only screen and (max-width: 1000px) {
        .left_container_top__topIn .infoAbout {
          margin-top: 5px;
          line-height: 1.5; } }
      .left_container_top__topIn .infoAbout .white_text {
        color: #fff; }
      .left_container_top__topIn .infoAbout a,
      .left_container_top__topIn .infoAbout a:active,
      .left_container_top__topIn .infoAbout a:link {
        text-decoration: none;
        color: #fff; }
        .left_container_top__topIn .infoAbout a:hover,
        .left_container_top__topIn .infoAbout a:active:hover,
        .left_container_top__topIn .infoAbout a:link:hover {
          text-decoration: underline; }
      .left_container_top__topIn .infoAbout .pt {
        margin-top: 10px; }
        @media only screen and (max-width: 1000px) {
          .left_container_top__topIn .infoAbout .pt {
            margin-top: 5px; } }
  .left_container_top__bottomIn {
    height: 110px;
    margin-top: 40px; }
    @media only screen and (max-width: 1000px) {
      .left_container_top__bottomIn {
        display: none; } }

.left_container_bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin-top: 72px; }
  @media only screen and (max-width: 1000px) {
    .left_container_bottom {
      margin-top: 35px;
      height: 100%; } }
  .left_container_bottom--img {
    width: 50px; }
    @media only screen and (max-width: 1000px) {
      .left_container_bottom--img {
        width: 40px; } }
  .left_container_bottom--social {
    display: flex;
    height: 100%;
    width: 264px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 40px; }
    @media only screen and (max-width: 1000px) {
      .left_container_bottom--social {
        margin-left: 10px; } }
  .left_container_bottom .social__Ico {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    color: #fff;
    text-decoration: none; }
    .left_container_bottom .social__Ico a:link,
    .left_container_bottom .social__Ico a:active {
      text-decoration: none;
      color: #fff; }

.main_container--right {
  position: absolute;
  right: 0;
  padding: 88px 88px 88px 0;
  max-width: 736px; }
  @media only screen and (max-width: 1000px) {
    .main_container--right {
      flex-direction: column;
      position: static; } }
  @media only screen and (max-width: 1350px) {
    .main_container--right {
      padding: 10px 5px 10px 0;
      width: 100%; } }
  .main_container--right .about {
    width: 310px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; }
    @media only screen and (max-width: 1350px) {
      .main_container--right .about {
        margin-left: auto; } }
    @media only screen and (max-width: 1000px) {
      .main_container--right .about {
        display: none; } }
    .main_container--right .about .frontDiv {
      width: 475px;
      height: 100px;
      background-color: #202022;
      color: #fff;
      text-align: center;
      margin-top: 250px; }
      @media only screen and (max-width: 1350px) {
        .main_container--right .about .frontDiv {
          width: 300px;
          margin-top: -90px;
          margin-left: auto; } }
      .main_container--right .about .frontDiv > div {
        margin-top: -30px; }
        @media only screen and (max-width: 1350px) {
          .main_container--right .about .frontDiv > div {
            margin-top: -20px; } }
      .main_container--right .about .frontDiv p {
        font-size: 64px;
        color: #ffffff;
        font-weight: 700;
        line-height: 1; }
        @media only screen and (max-width: 1350px) {
          .main_container--right .about .frontDiv p {
            font-size: 48px; } }
        .main_container--right .about .frontDiv p:last-child {
          font-size: 60px; }
          @media only screen and (max-width: 1350px) {
            .main_container--right .about .frontDiv p:last-child {
              font-size: 40px; } }

.nav {
  color: #8F8F90;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  .nav__text--link, .nav__text--link:link, .nav__text--link:active {
    text-decoration: none;
    color: #8F8F90;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 700;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center; }
    .nav__text--link:hover, .nav__text--link:link:hover, .nav__text--link:active:hover {
      color: #fff; }
    .nav__text--link:hover .line, .nav__text--link:link:hover .line, .nav__text--link:active:hover .line {
      background-color: #fff;
      width: 48px; }
    .nav__text--link .line, .nav__text--link:link .line, .nav__text--link:active .line {
      margin: 0 16px;
      margin-top: -2px;
      height: 1px;
      width: 24px;
      background-color: #8F8F90;
      transition: .3s ease-in-out; }
    .nav__text--link .active__line, .nav__text--link:link .active__line, .nav__text--link:active .active__line {
      width: 48px;
      background-color: #fff; }
  .nav .active__color {
    color: #fff; }

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  margin-left: auto; }
  @media only screen and (max-width: 1350px) {
    .contact {
      width: 500px;
      justify-content: flex-start; } }
  .contact__form {
    background-color: #202022;
    padding: 2rem 3rem 4rem;
    box-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 100%; }
    @media only screen and (max-width: 1350px) {
      .contact__form {
        width: 90%;
        height: 600px;
        margin-left: auto;
        padding: 15px; } }
    .contact__form p {
      margin: 0 auto;
      color: #fff;
      text-align: center;
      margin-bottom: 15px;
      font-size: 1.1rem; }
    .contact__form input {
      background: none;
      border-width: 0;
      display: block;
      width: 100%;
      color: #fff;
      outline: none;
      border-radius: 5px; }
    .contact__form textarea {
      background: none;
      border-width: 0;
      display: block;
      width: 100%;
      color: #fff;
      outline: none;
      border-radius: 5px; }
    .contact__form .hidden--visually {
      border: 0;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; }
    .contact__form .button {
      border-width: 0;
      background-color: #202022;
      color: #8f8f90;
      display: block;
      width: 50%;
      padding: 1rem 2rem;
      font-weight: 600;
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #8F8F90;
      cursor: pointer;
      transition: .3s;
      border-radius: 5px;
      margin: 0 auto;
      outline: none; }
      .contact__form .button:hover {
        color: #fff;
        border-color: #fff; }
    .contact__form .floating {
      margin-bottom: 2rem;
      background-color: none;
      transition: background-color 0.2s ease;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid #8f8f90;
      outline: none; }
      .contact__form .floating:hover, .contact__form .floating:focus-within {
        background-color: rgba(143, 143, 144, 0.1); }
    .contact__form .floating__input {
      padding: 1.8rem 1rem 0.6rem;
      font-size: 1.2rem;
      caret-color: #fff; }
    .contact__form .floating__input::placeholder {
      color: rgba(0, 0, 0, 0); }
    .contact__form .floating__label {
      display: block;
      position: relative;
      max-height: 0;
      font-weight: 500;
      pointer-events: none; }
    .contact__form .floating__label::before {
      color: #8F8F90;
      content: attr(data-content);
      display: inline-block;
      filter: blur(0);
      backface-visibility: hidden;
      transform-origin: left top;
      transition: transform 0.2s ease;
      left: 1rem;
      top: 1px;
      position: absolute;
      font-size: 1.2rem; }
    .contact__form .floating__label::after {
      bottom: 1rem;
      content: "";
      height: 0.1rem;
      position: absolute;
      transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
      opacity: 0;
      left: 0;
      top: 100%;
      margin-top: -0.1rem;
      transform: scale3d(0, 1, 1);
      width: 100%;
      background-color: white; }
    .contact__form .floating__input:focus + .floating__label::after {
      transform: scale3d(1, 1, 1);
      opacity: 1; }
    .contact__form .floating__input:placeholder-shown + .floating__label::before {
      transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1); }
    .contact__form .floating__label::before,
    .contact__form .floating__input:focus + .floating__label::before {
      transform: translate3d(0, -5.12rem, 0) scale3d(0.82, 0.82, 1); }
    .contact__form input:-webkit-autofill,
    .contact__form input:-webkit-autofill:hover,
    .contact__form input:-webkit-autofill:focus,
    .contact__form input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #202022 inset !important; }
    .contact__form input:-webkit-autofill {
      -webkit-text-fill-color: white !important; }
    .contact__form .floating__input2 {
      padding: 1.8rem 1rem 0.6rem;
      font-size: 1.2rem;
      caret-color: #fff; }
    .contact__form .floating__input2::placeholder {
      color: rgba(0, 0, 0, 0); }
    .contact__form .floating__label2 {
      display: block;
      position: relative;
      max-height: 0;
      font-weight: 500;
      pointer-events: none; }
    .contact__form .floating__label2::before {
      color: #8F8F90;
      content: attr(data-content);
      display: inline-block;
      filter: blur(0);
      backface-visibility: hidden;
      transform-origin: left top;
      transition: transform 0.2s ease;
      left: 1rem;
      top: -280px;
      position: absolute;
      font-size: 1.2rem; }
    .contact__form .floating__label2::after {
      bottom: 1rem;
      content: "";
      height: 0.1rem;
      position: absolute;
      transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
      opacity: 0;
      left: 0;
      top: 100%;
      margin-top: -0.1rem;
      transform: scale3d(0, 1, 1);
      width: 100%;
      background-color: white; }
    .contact__form .floating__input2:focus + .floating__label2::after {
      transform: scale3d(1, 1, 1);
      opacity: 1; }
    .contact__form .floating__input2:placeholder-shown + .floating__label2::before {
      transform: translate3d(0, 0rem, 0) scale3d(1, 1, 1); }
    .contact__form .floating__label2::before,
    .contact__form .floating__input2:focus + .floating__label2::before {
      transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1); }
  .contact .copyright {
    font-size: 14px;
    position: absolute;
    bottom: 10px; }

.projects {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-top: 30px;
  margin-left: auto; }
  @media only screen and (max-width: 1350px) {
    .projects {
      padding: 28px 0px;
      align-items: flex-end;
      width: 520px; } }
  .projects .switch__buttons {
    color: #8F8F90;
    letter-spacing: 2px;
    transition: .4s;
    margin-top: 40px;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: .4s;
    margin-bottom: auto;
    position: relative;
    font-size: 1.2rem; }
    @media only screen and (max-width: 1350px) {
      .projects .switch__buttons {
        align-self: center; } }
    .projects .switch__buttons::before {
      content: ' ';
      position: absolute;
      height: 1px;
      color: #8f8f90;
      width: 60%;
      bottom: -4px;
      left: 20%;
      background-color: #8f8f90; }
    .projects .switch__buttons--span1 {
      color: #fff;
      font-size: 1.3rem; }
    .projects .switch__buttons--span1, .projects .switch__buttons--span2 {
      transition: .4s;
      padding: 10px; }
  .projects__web {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 28px 10px;
    margin-top: 40px;
    opacity: 1;
    visibility: visible;
    transition: visibility 150ms, opacity 150ms linear; }
    @media only screen and (max-width: 1350px) {
      .projects__web {
        padding: 28px 0px;
        width: 100%;
        align-content: flex-end;
        justify-items: flex-end; } }
    .projects__web a {
      margin-left: auto; }
      @media only screen and (max-width: 1350px) {
        .projects__web a {
          width: 100%;
          margin-left: auto; } }
    .projects__web a,
    .projects__web a:link,
    .projects__web a:active {
      text-decoration: none;
      color: inherit;
      text-align: right; }
    .projects__web .projectsBox {
      justify-content: flex-end;
      align-content: flex-end;
      flex-direction: column;
      display: flex;
      background-color: #202022;
      width: 580px;
      height: 220px;
      margin-bottom: 70px;
      border-radius: 5px;
      box-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.4);
      position: relative;
      cursor: pointer;
      transition: box-shadow .4s;
      margin-left: auto; }
      @media only screen and (max-width: 1350px) {
        .projects__web .projectsBox {
          width: 500px; } }
      .projects__web .projectsBox__miniature {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        width: 100%;
        height: 100%;
        margin: 80px 20px; }
        .projects__web .projectsBox__miniature--desk {
          width: 350px;
          height: 20px;
          margin-left: 40px;
          margin-right: 40px;
          transition: transform .4s .2s; }
          .projects__web .projectsBox__miniature--desk img {
            width: 100%;
            height: auto;
            border-radius: 15px; }
        .projects__web .projectsBox__miniature--mobile {
          width: 100px;
          height: 160px;
          transition: transform .4s; }
          .projects__web .projectsBox__miniature--mobile img {
            max-width: 100%;
            height: auto;
            border-radius: 15px; }
      .projects__web .projectsBox__name {
        font-size: 1.3rem;
        position: absolute;
        font-weight: 600;
        align-self: center;
        bottom: 0px; }
      .projects__web .projectsBox:hover {
        box-shadow: 5px 5px 0px 5px rgba(143, 143, 144, 0.4); }
      .projects__web .projectsBox:hover .projectsBox__miniature--mobile,
      .projects__web .projectsBox:hover .projectsBox__miniature--desk {
        transform: translateY(-10px); }
  .projects__app {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 28px 10px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 150ms, opacity 150ms linear;
    display: none; }
    @media only screen and (max-width: 1350px) {
      .projects__app {
        padding: 28px 0px;
        width: 100%;
        justify-content: flex-start; } }
    .projects__app a,
    .projects__app a:link,
    .projects__app a:active {
      text-decoration: none;
      color: inherit; }
    .projects__app a {
      width: 100%; }
      @media only screen and (max-width: 1350px) {
        .projects__app a {
          width: 60%;
          margin-left: auto; } }
    .projects__app__box {
      width: 100%;
      height: 194px;
      background-color: #202022;
      margin: 20px 0;
      transition: .4s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 25px;
      cursor: pointer;
      box-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.4);
      border-radius: 5px; }
      .projects__app__box--lang {
        color: #fff; }
      .projects__app__box--name {
        font-size: 1.4rem;
        color: #fff; }
      .projects__app__box:hover {
        transform: scale(1.1); }
